# Ignore Gradle project-specific cache directory
.gradle

# Ignore IDEA project directory
.idea

# Ignore Gradle build output directory
build

# Don't ignore the gradle wrapper jar file
!gradle-wrapper.jar
